@import "./utils/variables";
@import "./utils/fonts";
@import "./base";
@import "./utils/utils";
@import "./components/buttons";
@import "./components/links";
@import "./layots/header";
@import "./layots/hero-section";
@import "./components/carousel-buttons";
@import "./components/pagination";
@import "./components/format-cards";
@import "./components/chef-card";
@import "./components/input";
@import "./layots/advantages-section";
@import "./layots/tradition-section";
@import "./layots/chefs-section";
@import "./layots/formats-section";
@import "./layots/contact-section";
@import "./layots/footer";
@import "./layots/modal";
@import "./layots/section";
@import "./layots/form-terms";
@import "./layots/container";
@import "./utils/mixins";
@import "./utils/texts";
@import "./layots/mobile-menu";
