.contact-section {
  padding-bottom: 0;
  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 96px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }
  &__form-field {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px;
    }
  }
  &__title {
    margin-bottom: 8px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
      padding: 48px 0;
    }
  }
  &__text {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 24px;
    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 42px;
    }
  }
  &__button {
    display: block;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      margin: 0 auto 16px;
    }
  }
  &__map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
    margin: 0 -24px;
    height: 176px;

    @media screen and (min-width: $bp-tablet) {
      margin: auto;
      width: 320px;
      height: 500px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 595px;
    }
  }
}
