.form-terms {
  display: none;
  margin: 0 auto;
  width: 100%;
  max-width: 220px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;

  @media screen and (min-width: $bp-tablet) {
    display: block;
  }

  &__link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
  }
}
