.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition:
    opacity 0.3s,
    visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  margin: 20px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 50px;
  overflow: auto;
  width: 100%;
  max-width: 580px;
  height: 100%;
  max-height: 580px;

  @media screen and (min-width: $bp-tablet) {
    padding: 128px;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
  }

  &::after {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      position: absolute;

      right: 0;

      background-image: url("../images/bread-modal-mobile.png");
      content: "";
      width: 180px;
      height: 240px;
    }
  }

  &__btn-close {
    position: absolute;

    top: 16px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    fill: transparent;
    stroke: var(--color-primary-dark);
    background-color: transparent;
    border: none;
    cursor: pointer;
    @media screen and (min-width: $bp-tablet) {
      width: 32px;
      height: 32px;
      top: 40px;
      right: 40px;
    }
  }
  &__form-field {
    margin-bottom: 32px;
  }
  &__button {
    display: block;
    margin: 0 auto 24px;
  }
  &__title {
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      font-size: 64px;
      line-height: 1.3;
    }
  }
  &__text {
    color: var(--color-brand-dark);
    margin-bottom: 40px;
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 72px;
    }
  }
}
