.text-brand {
  color: var(--color-brand-normal);
}
.text-brand-dark {
  color: var(--color-brand-dark);
}
.text-bold {
  font-weight: 300;

  @media screen and (min-width: $bp-tablet) {
    font-weight: 600;
  }
}
.text-uppercase {
  text-transform: uppercase;
}
