.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  font-weight: 600;
  padding: 10px 24px;
  transition: color 0.3s;

  @media screen and (min-width: $bp-tablet) {
    padding: 16px 32px;
  }
}
.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
  cursor: pointer;
}
