.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s;
}
.carousel-button.next {
  transform: rotate(180deg);
}
.carousel-arrow {
  fill: var(--color-primary-dark);
  transition: fill 0.3s;
}
.carousel-button:hover {
  background-color: var(--color-primary-dark);
}
.carousel-button:hover .carousel-arrow {
  fill: var(--color-primary-light);
}
